/* Esto es un comentario */
/* Tendremos selectores de etiquetas, que nos sirven para seleccionar todas las etiquetas de un tipo especifico */
p{
  font-size: 5rem;
}

nav{
  background-color: #ce14bf;
}

/* Tendremos atributos de clases que nos sirven para aplicar estilos a elementos que compartan una clase */

.my-class{
  color: aquamarine;
}

/* Tendremos atributos de id que nos sirven para aplicar estilos a elementos que compartan un id */

#my-id{
  color: #ef0000;
}

/* Tendremos selectores descendentes que nos sirven para aplicar estilos a todos los elementos que cumplan la condicion */
aside h2{
  color: bisque;
}

ul > li{
  list-style-type: square;
}

/* Tendremos los selectores de atributos que nos sirven para aplicar estilos a todos los elementos que cumplan la condicion */

input[type="text"]{
  background-color: #ef0000;
}

/* Tendremos los selectores de pseudoclases que nos sirven para aplicar estilos a los elementos cuando esten en un
estado especifico */

aside:hover{
  background-color: #3c37a3;
  font-size: large;
}

/* Tendremos los selectores de pseudoelementos que nos sirven para aplicar estilos a los elementos o alguna parte concreta de ellos */
p::first-letter{
  font-size: 5rem;
  color: #3c37a3;
}